html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  color: #a1aeb7;
}

/* Navbar mobile*/

@media only screen and (max-width: 1023px) {
  .sticky {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color 0.2s, transform 0.4s;
    width: 100%;
    z-index: 998;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    font-weight: 700;
    background-color: black;
    position: relative;
  }
  .menu-mobile label {
    display: flex;
    flex-direction: column;
  }
  .menu-bar-top,
  .menu-bar-center,
  .menu-bar-bottom {
    width: 20px;
    height: 4px;
    background-color: white;
    margin: 2px;
    border-radius: 20px;
  }

  .nav-menu-wrapper {
    display: none;
  }

  .nav-menu-wrapper-mobile {
    display: block;
    position: fixed;
    top: 0;
    background-color: #161316;
    left: 0;
    bottom: 0;
    width: 280px;
    padding: 20px 0;
    transform: translateX(-100%);
  }

  .header-container input:checked ~ .nav-menu-wrapper-mobile {
    transform: translateX(0);
  }

  .logo img {
    width: 150px;
  }

  #check-menu {
    display: none;
  }

  .header-container input:checked ~ .menu-mobile .menu-bar-center {
    opacity: 0;
  }

  .header-container input:checked ~ .menu-mobile .menu-bar-top {
    transform: translateY(8px) rotate(45deg);
  }

  .header-container input:checked ~ .menu-mobile .menu-bar-bottom {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-menu-item {
    height: 60px;
    border-bottom: 1px solid #2e2e2e;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  }
  .main-menu-item-icon {
    color: #ffffff;
    cursor: pointer;
  }

  input:checked ~ .sub-menu {
    display: block;
  }

  .sub-menu {
    display: none;
  }

  .sub-menu label .dropdown li a {
    color: #f9f9f9;
  }

  .sub-menu label .dropdown li {
    padding: 10px 40px;
  }
  .main-menu-item a {
    color: white;
  }

  #menu-item-expert {
    height: 50px;
    background-color: #fcd53e;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto;
    width: 70%;
  }
  #menu-item-expert a {
    color: #161316;
  }
  .main-menu-item a {
    display: flex;
    justify-content: space-between;
  }
}
